body {
  margin: 0;
  font-family: 'Lato', 'Helvetica', sans-serif;
  font-size: 12px; }

a {
  text-decoration: none;
  color: white; }

section.menu {
  background: #2A2A2A;
  padding: 2% 10%; }
  section.menu .menu-inner {
    margin: 0 auto;
    float: right; }

ul.nav {
  float: right;
  list-style: none;
  text-align: center;
  color: white;
  margin: 0;
  text-transform: uppercase; }
  ul.nav li {
    display: block;
    float: left;
    margin: 10px; }
