// COLOUR VARIABLES
$bg-grey: #2A2A2A;
$bg-light-grey: #F4F4F4;
$med-grey: #F5F5F5;
$light-grey: #8C8C8C;
$drk-grey: #464646;
$drkest-grey: #454545;
$white-grey: #F6F6F6;
$red: #FE6467;

// SET UP STYLES
body {
	margin: 0;
	font-family: 'Lato', 'Helvetica', sans-serif;
	font-size: 12px;
	color: white;
	line-height: 16px;
    letter-spacing: 0.1rem;
}

a {
	text-decoration: none;
	color: white;

}

.clearfix {
  overflow: auto;
}

section {
	padding: 2% 10%;
}

h1, ul.nav, 
.intro-info-wrap span,
.intro-info-wrap h1,
span.services {
	text-transform: uppercase;
}

.sec-title {
	margin: 0 auto;
	text-align: center;
	padding: 4% 0 6% 0;

	h1 {
		color: black;
	}
	span.highlight {
		color: $red;
	}
	
}

.underline {
	width: 3%;
    height: 1px;
    background: black;
    margin: 0 auto;
}

// MENU STYLES
section.menu {
	background: $bg-grey;
	.menu-inner {
		margin: 0 auto;
		float: right;
	}
}

ul.nav {
	float: right;
    list-style: none;
    text-align: center;
    color: white;
    margin: 0;
	li {
		display:block;
	   float:left;
	   margin: 10px;
	}
	
}
// END OF MENU STYLES

// INTRO STYLES
section.intro {
	background: url('../assets/header-herobg.jpg') no-repeat;
	font-size: 16px;
}

.intro-info-wrap {
	float: right;
    text-align: left;
    padding-top: 15%;
}

.intro-info {
	float: right;
}

#yoga-girl {
	width: 100%;
	margin-bottom: -25%;
}
// END OF INTRO STYLES

// SERVICES STYLES
section.services {
	background: $bg-light-grey;
	margin-top: 3%;
	color: $light-grey;

	span.services {
		color: black;
	}

	i {
		display: inline;
	}
	i.icon {
		font-size: 1.5rem;
		padding-bottom: 5px;
		display: block;
	}
	ul {
		padding: 0;
	}
	li {
		list-style-type: none;
	}
	i, span.read-more {
		color: $red;
	}
}

.balance, .strong, .challenge {
		float: left;
		text-align: center;
	}
// END OF SERVICES STYLES 

// TRAINER STYLES
section.trainers {


	.fourth {
		padding: 0;
		margin: 0;

			img {
				width: 100%;
				display: inline-flex;
			}
	}
	.grid {
		margin: 0;
	}
	.desk--one-quarter {
		width: 20%;
		margin: 0 2%
	}
	.pic-info {
		background: $bg-light-grey;
		color: $light-grey;
		padding-bottom: 5%;

			h2 {
				color: black;
				padding: 5%;
			}

			h2, h3 {
				font-weight: normal;
				text-transform: capitalize;
				text-align: center;
				margin: 0;
				font-size: 100%;
			}
			h3 {
				font-size: 12px;
				padding-bottom: 5%;
			}
			.underline {
				width: 10%;
			}

	}// end of .fourth
}// end of section.trainers
// END OF TRAINER STYLES

// QUOTE STYLES
section.quote {
	background: url('../assets/testimonial-bg.jpg') no-repeat center;
	margin: 0 auto;

		.quote-inner {
			text-align: center;
			padding: 12% 0;

			h1 {
				text-transform: uppercase;
				font-size: 300%;
				font-weight: normal;
				line-height: 30px;

			}
			p,
			span.country {
				font-style: italic;
			}
			span.name,
			span.country {
				font-weight: bold;
				font-size: 85%;
				display: block;
			}
			span.name {
				color: $red;
			}
			span.country {
				color: $light-grey;
			}
		}
}
// END OF QUOTE STYLES

// BLOG STYLES
.blog-wrap {

		.desk--one-third {
			width: 30.33%;
		}

		.blog {
			padding: 0;
			overflow: hidden;
			margin: 1%;
		}
		
		#first-pic,
		#second-pic,
		#third-pic {
			position: relative;
			height: 272px;
		}

		#first-pic {
			background: url('../assets/blog-01.jpg') no-repeat center;

		}

		#second-pic {
			background: url('../assets/blog-02.jpg') no-repeat center;
		}

		#third-pic {
			background: url('../assets/blog-03.jpg') no-repeat center;
		}

		#icon {
			position: absolute;
		    bottom: 4.5%;
		    margin: 0;
		    padding: 0;
		    width: 20%;
		}
}
// end of .blog-wrap
section.blog {

	.blog-details {
		width: 32.33%;
		color: $light-grey;
		padding: 1%;

			h2 {
				color: black;
				font-weight: normal;
			}
			span.date {
				font-style: italic;
				font-size: 80%;
			}
			p {
				padding: 4% 0;
			}
			ul.services {
				margin: 0;
				padding: 0;

				li {
					float: left;
					list-style-type: none;
					padding-right: 3%;
					font-size: 95%;
					i {
						color: black;
					} 
				}
			}
	}
}
// END OF BLOG STYLES

// PACKAGE STYLES
section.package {
	background: $bg-light-grey;
	text-align: center;

		.choose-pkg {
			color: $drk-grey;
			text-align: center;
			padding: 4% 0;

			h1 {
				font-weight: normal;
			}
		}
	.desk--one-quarter {
		width: 24%;
	}

	span {
		display: block;
	}

	span.title {
		font-size: 70%;
		text-transform: capitalize;
	}	
	span.member {
		font-size: 90%;
		text-transform: uppercase;
	}

	.member {
		padding: 5% 0;

	}
	.chevron {
		position: relative;
	}

	.price {
		background: $white-grey;
		color: $drkest-grey;
		font-weight: bold;
		font-size: 175%;
		padding: 5% 0;
	}

	// .chevron {
	//   position: relative;
	//   text-align: center;
	//   height: 60px;
	//   width: 200px;
	// }

	// .chevron:before {
	//   content: '';
	//   background: $light-grey;
	//   position: absolute;
	//   top: 0;
	//   left: 0; 
	//   height: 100%;
	//   width: 50%;
	//   transform: skew(0deg, 6deg);
	// }
	// .chevron:after {
	//   content: '';
	//   position: absolute;
	//   top: 0;
	//   right: 0;
	//   height: 100%;
	//   width: 50%;
	//   background: $light-grey;
	//   transform: skew(0deg, -6deg);
	// }
	
	#student {
		background: $light-grey;
	}
	#pro {
		background: $drk-grey;
	}
	#unlimited {
		background: $red;
	}
	#premium {
		background: $drkest-grey;
	}

	.terms {
		background: white;

		ul {
			margin: 0;
			padding: 0;
		}

		li {
			display: block;
			border-bottom: 1px solid $bg-light-grey;
			color: $drkest-grey;
			padding: 6% 8%;
		}
	}
	
	button {
		display: block;
		width: 100%;
		text-align: center;
		border: none;
		text-transform: uppercase;
		height: 40px;
		color: white;
	}
	button#student {
		background: $light-grey;
	}
	button#pro {
		background: $drk-grey;
	}
	button#unlimited {
		background: $red;
	}
	button#premium {
		background: $drkest-grey;
	}

}
// END OF PACKAGE STYLES

// START OF SIGN UP STYLES
section.sign-up {
	text-align: center;
	background: url("../assets/header-herobg.jpg") no-repeat center;
	color: white;
	padding: 5%;

		span {
			font-size: 80%;
		}
		p {
			font-size: 140%;
		}
		button {
			background: $drkest-grey;
			padding: 1% 3%;
			border: none;
			color: white;
			text-transform: uppercase;
			margin-top: 1%;
		}
}

