// COLOUR VARIABLES
$bg-grey: #2A2A2A;
$bg-light-grey: #F4F4F4;
$med-grey: #F5F5F5;
$light-grey: #8C8C8C;

// SET UP STYLES
body {
	margin: 0;
	font-family: 'Lato', 'Helvetica', sans-serif;
	font-size: 12px;
	color: white;
	line-height: 22px;
    letter-spacing: 0.1rem;
}

a {
	text-decoration: none;
	color: white;

}

ul.nav, .intro-info-wrap span,
.intro-info-wrap h1 {
	text-transform: uppercase;
}

section {
	padding: 2% 10%;
}


// MENU STYLES
section.menu {
	background: $bg-grey;
	.menu-inner {
		margin: 0 auto;
		float: right;
	}
}

ul.nav {
	float: right;
    list-style: none;
    text-align: center;
    color: white;
    margin: 0;
	li {
		display:block;
	   float:left;
	   margin: 10px;
	}
	
}
// END OF MENU STYLES

// INTRO STYLES
section.intro {
	background: url('../assets/header-herobg.jpg') no-repeat;
	font-size: 16px;
}

.intro-info-wrap {
	float: right;
    text-align: left;
    padding-top: 15%;
}

.intro-info {
	float: right;
}

#yoga-girl {
	width: 100%;
	margin-bottom: -25%;
}


